In [2]:
#libraries 
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori 
from mlxtend.frequent_patterns import association_rules

## Context 

Instacart is an american company that provides a grocery delivery and pick-up
service via a website or mobile app in the United States and Canada.

In [7]:
dep = pd.read_csv(r'C:/Users/hirom/Documents/GitHub/Business-Case-/Business Case 03 - Apr/departments.csv')
op = pd.read_csv(r'C:/Users/hirom/Documents/GitHub/Business-Case-/Business Case 03 - Apr/order_products.csv')
ord = pd.read_csv(r'C:/Users/hirom/Documents/GitHub/Business-Case-/Business Case 03 - Apr/orders.csv')
prod = pd.read_csv(r'C:/Users/hirom/Documents/GitHub/Business-Case-/Business Case 03 - Apr/products.csv')

In [38]:
ord.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2425083,49125,1,2,18,NaN
1,1944304,162867,1,3,17,NaN
2,1201011,147243,14,0,16,3.0
3,1906860,195275,81,1,11,3.0
4,2766469,58222,3,6,11,6.0

In [33]:
def preprocessing(db):
    print(db.isna().sum())
    print(db.duplicated().sum())
    print(pd.DataFrame(db.describe(include="all")))

In [37]:
preprocessing(prod)

product_id       0
department_id    0
product_name     0
dtype: int64
0
        product_id  department_id product_name
count   134.000000     134.000000          134
unique         NaN            NaN          134
top            NaN            NaN     crackers
freq           NaN            NaN            1
mean     67.500000      11.373134          NaN
std      38.826537       5.726435          NaN
min       1.000000       1.000000          NaN
25%      34.250000       7.000000          NaN
50%      67.500000      12.000000          NaN
75%     100.750000      16.000000          NaN
max     134.000000      21.000000          NaN